
<h1 id="h1-title" > Todo </h1>

<!-- TODO 9 : Display "No task left" if the task list is empty -->
<div id="div-no-task-message" *ngIf="!openedTask && tasks.length == 0">No tasks left</div>
<div id="div-task-list-container" *ngIf="!openedTask && tasks.length > 0">
    <!-- The task list component. Display an array with the list of all tasks. -->
    <app-tasks-list 
    [tasks]="tasks"
    (taskDeleted)="deleteTask($event.task)"></app-tasks-list>
</div>

<!-- The task form. Displayed only if task is curently being edited. -->
<div fxLayout="column" fxLayoutAlign="center center" id="div-task-form-container" *ngIf="openedTask" >
    <!-- TODO 5 Map the taskSubmitted event with the createTask metdod -->
    <app-task-form class="card-1"  (cancelled)="cancelTaskCreation()" (taskSubmitted)="createTask($event.task)"></app-task-form>
</div>

<!-- The fab bar with Add button. Displayed only if no task form opened.-->
<div id="div-float-bar" *ngIf="!openedTask">
    <table>
        <td class="td-float-button">
            <button matTooltip="Add a task." [matTooltipPosition]="'left'" id="button-add-task" mat-fab (click)="openTaskForm()">
                <mat-icon class="icon-white" >add</mat-icon>
            </button>
        </td>
    </table> 
</div>  


