#div-float-bar
{
    bottom: 0;
    padding: 23px 12px;
    position: fixed;
    right: 15px;
    z-index: 21;
    text-align:center;
}

#button-delete-task, #button-add-task, #button-uncomplete-task {
    background-color:  #F44336;
    color: white;
}

.icon-white {
    color:white;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
}



#div-task-list-container {
    width: 90%;
    margin: 0 auto;
}

app-task-form {
    padding: 10px;
}

#h1-title {
    text-align:center;
}

#div-no-task-message {
    text-align: center;
}