body {
  background-color: #eee;
  font-family: arial;
}

#div-loader-container {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

mat-icon {
  color: #3F51B5;
}

button:disabled {
    opacity: 0.3;
}
