table {
    text-align: center;
    width: 100%;
}

#tr-header {
    font-weight: bold;
    padding:10px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card {
    background: #fff;
    border-radius: 2px;
}