
<table class="card card-1">
    <tr id="tr-header"  >
        <th>Name</th>
        <th>Description</th>
        <th>Due date</th>
        <th>Priority</th>
        <th></th>
    </tr>

    <!-- TODO 2 loop other tasks variable to populate the table. 
    Don't forget to use formatDate method -->
    <tr *ngFor="let task of tasks; let i = index" >
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <td>{{formatDate(task.dueDate)}}</td>
        <td>{{task.priority}}</td>
        <td>
        <button matTooltip="Delete a task." mat-icon-button (click)="deleteTask(i)">
            <mat-icon >delete</mat-icon>
        </button>
        </td>
    </tr>

</table>
