

 

<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="form" (ngSubmit)="submitForm(form.value)">  
    
    <mat-form-field >
        <input required matInput placeholder="Name" [formControl]="form.controls['name']">
    </mat-form-field>

    <mat-form-field >
        <textarea matInput placeholder="Description"  [formControl]="form.controls['description']"></textarea>
    </mat-form-field>

    <mat-form-field >
        <input required type="number" matInput placeholder="Priority" [formControl]="form.controls['priority']">
    </mat-form-field>

    <mat-form-field >
        <input matInput [matDatepicker]="picker" placeholder="Due date" [formControl]="form.controls['dueDate']">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    
    <div >
        <button type="button" id="button-previous" mat-icon-button (click)="cancel()" >
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    
        <button id="button-save" mat-icon-button [disabled]="!form.valid || locked" >
            <mat-icon>save</mat-icon>
        </button>
    </div>
    
</form>